{% assign gwSettings = shop.metafields.ssw['settings'] %}
{% if gwSettings.type == 'json' %}
  {% assign gwSettings = shop.metafields.ssw['settings'].value %}
{% endif %}
<div id="ssw-login-social-icons-widget-wrapper" style="display:none">
  {% capture the_snippet_social_icons %}
    {% render 'ssw-widget-social-login' %}
  {% endcapture %}
  {% unless the_snippet_social_icons contains 'Liquid error' %}
    {{ the_snippet_social_icons }}
  {% endunless %}
  {% assign customer_locale = shop.locale | prepend: 'lang_' %}
  {% unless shop.metafields.ssw[customer_locale] %}
    {% for published_locale in shop.published_locales %}
      {% if published_locale.primary == true %}
        {% assign customer_locale = published_locale.iso_code | prepend: 'lang_' %}
      {% endif %}
    {% endfor %}
  {% endunless %}
  <div id="ssw-signup-accept-terms-marketing-widget" class="ssw-control-group ssw-accept-terms">
    <label id="ssw-signup-accept-terms-register-page" class="ssw-checkbox ssw-inline" style="display:none;"><input name="terms" tabindex="8" type="checkbox" onclick="sswOnAcceptTerms(this)"/>
      {{ shop.metafields.ssw[customer_locale].value.accept_terms_html }}
    </label><input id="ssw-customer-accepts_marketing-register-page" type="hidden" name="customer[accepts_marketing]" value="false"/><label id="ssw-signup-accept-marketing-register-page" class="ssw-checkbox ssw-inline" style="display:none;"><input name="accepts_marketing" tabindex="9" type="checkbox" onclick="sswOnAcceptMarketing(this)"/>
      {{ shop.metafields.ssw[customer_locale].value.accept_marketing }}
    </label>
  </div>
</div>
{% unless customer %}
  <div role="modal" class="social_exist_modal gw-container ssw-login ssw-modal ssw-fade" id="social_exist_modal" aria-hidden="true">
    <div class="ssw-modal-dialog">
      <div class="ssw-modal-content">
        <div class="ssw-modal-body">
          <button class="ssw-close" aria-hidden="true" data-dismiss="ssw-modal" type="button">&times;</button><br/><div class="social-exist-modal__title ssw-h3">{{ shop.metafields.ssw[customer_locale].value.log_in_to_account }}
          </div><br/><div class="social-exist-modal__thumb">
            <span class="ssw-thumb"><img class="ssw-img-circle" src=""></span>
            <span id="sem_name" class="social-exist-modal__name"></span>
          </div>
          <div class="clearfix"></div>
          <div id="sem_text" class="social-exist-modal__text" style="padding:10px"></div>
          <form method="post" id="sem_modal_form"><input id="sem_email" type="hidden" value="client" name="user"><div class="ssw-control-group"><input name="password" id="sem_password" class="social-exist-modal__password" type="password" required="required" placeholder="{{ shop.metafields.ssw[customer_locale].value.password }}"><br></div>
            <a id='sem_forgot' class="social-exist-modal__recover-password" onclick="try{showRecoverPasswordForm();ssw('#social_exist_modal').sswModal('hide');}catch(e){}" href="/account/login#recover">{{ shop.metafields.ssw[customer_locale].value.forgot_password }}
            </a>
            <div class="ssw-control-group"><input id="sem_btn" type="submit" class="btn button gw-login-btn" value="{{ shop.metafields.ssw[customer_locale].value.log_in }}"></div>
          </form><br></div>
      </div>
    </div>
  </div>
  <div id="set-email-modal" class="gw-container ssw-modal ssw-fade" aria-hidden="true" role="modal">
    <div class="ssw-modal-dialog">
      <div class="ssw-modal-content">
        <div class="ssw-modal-body">
          <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
          <div class="ssw-h3">{{ shop.metafields.ssw[customer_locale].value.enter_your_email }}
          </div>
          <div id="set-email-error" class="ssw-alert ssw-alert-warning login-failed" style="display:none"></div>
          <div class="he-login">
            <form id="set-email-form" method="post"><input id="service_id" type="hidden" name="service_id" value=""><div class="ssw-control-group"><input id="set-email-input" name="email" tabindex="1" aria-label="{{ shop.metafields.ssw[customer_locale].value.email_address }}" type="email" required="required" placeholder="{{ shop.metafields.ssw[customer_locale].value.email_address }}" class="ssw-span3"></div>
              <div class="ssw-control-group"><input type="submit" class="btn button gw-login-btn" tabindex="1" aria-label="{{ shop.metafields.ssw[customer_locale].value.set }}" value="{{ shop.metafields.ssw[customer_locale].value.set }}"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="accept-terms-modal" class="gw-container ssw-modal ssw-fade" aria-hidden="true" role="modal">
    <div class="ssw-modal-dialog">
      <div class="ssw-modal-content">
        <div class="ssw-modal-body">
          <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true" tabindex="1" aria-label="{{ shop.metafields.ssw[customer_locale].value.close }}">&times;</button>
          <div class="ssw-h3" tabindex="1" aria-label="{{ shop.metafields.ssw[customer_locale].value.accept_terms_and_conditions }}">{{ shop.metafields.ssw[customer_locale].value.accept_terms_and_conditions }}
          </div>
          <div id="accept-terms-error" class="ssw-alert ssw-alert-warning login-failed" style="display:none"></div>
          <div>
            <form id="accept-terms-form" method="post" onsubmit="sswCreateAccount(this); return false;">
              <div class="terms-email-group ssw-control-group"><input id="terms-email-input" name="email" tabindex="1" type="email" required="required" placeholder="{{ shop.metafields.ssw[customer_locale].value.email_address }}" class="ssw-span3"></div>
              <div class="accept_terms-group ssw-control-group">
                <div class="ssw-controls">
                  <label class="ssw-checkbox ssw-inline"><input id="ssw-accept-terms-checkbox" name="accept_terms" onclick="sswOnAcceptTerms(this)" type="checkbox"/>
                    {{ shop.metafields.ssw[customer_locale].value.accept_terms_html }}
                  </label>
                </div>
              </div>
              {% if gwSettings.force_accepts_marketing == 1 %}
                <input id="ssw-accept-marketing-checkbox" type="checkbox" name="accepts_marketing" style="display:none;" checked/>
              {% else %}
                <div class="ssw-control-group accepts_marketing-group">
                  <div class="ssw-controls">
                    <label class="ssw-checkbox ssw-inline"><input id="ssw-accept-marketing-checkbox" name="accepts_marketing" type="checkbox" onclick="sswOnAcceptMarketing(this)" onkeydown="sswOnAcceptMarketing(this)" tabindex="1" aria-label="{{ shop.metafields.ssw[customer_locale].value.accept_marketing }}"/>
                      {{ shop.metafields.ssw[customer_locale].value.accept_marketing }}
                    </label>
                  </div>
                </div>
              {% endif %}
              <input id="ssw-accept-terms-service_id" name="service_id" type="hidden"/><div class="ssw-control-group">
                <button id="ssw-create-account-button" type="submit" class="btn button gw-login-btn" style="display:none" tabindex="1" aria-label="{{ shop.metafields.ssw[customer_locale].value.create_account }}">{{ shop.metafields.ssw[customer_locale].value.create_account }}
                </button>
                <button id="ssw-cancel-account-button" type="button" class="btn button gw-login-btn" onclick="sswCancelAccount()" tabindex="1" aria-label="{{ shop.metafields.ssw[customer_locale].value.cancel }}">{{ shop.metafields.ssw[customer_locale].value.cancel }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="login_modal" class="gw-container ssw-login ssw-modal ssw-fade" aria-hidden="true" role="modal">
    <div class="ssw-modal-dialog">
      <div class="ssw-modal-content">
        <div class="ssw-modal-body">
          <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
          {% capture ssw_customer_login %}
            {% render 'ssw-customer-login' %}
          {% endcapture %}
          {% unless ssw_customer_login contains 'Liquid error' %}
            {{ ssw_customer_login }}
          {% endunless %}
          <div class="login-failed"></div>

          <div class="ssw-login-loading">
            <span class="ssw-spin ssw-loader"></span>
          </div>
          <div class="he-login">
            <form id="he_customer_login" action="/account/login" method="post" accept-charset="UTF-8"><input type="hidden" value="client" name="user"><div class="ssw-control-group"><input id="ssw-customer-email" name="customer[email]" tabindex="1" autocomplete="on" type="email" placeholder="{{ shop.metafields.ssw[customer_locale].value.email_address }}" class="ssw-span3" title="{{ shop.metafields.ssw[customer_locale].value.enter_your_email }}" aria-label="{{ shop.metafields.ssw[customer_locale].value.enter_your_email }}"></div>
              <div class="ssw-control-group"><input id="ssw-customer-password" name="customer[password]" tabindex="2" type="password" placeholder="{{ shop.metafields.ssw[customer_locale].value.password }}" class="ssw-span3" title="{{ shop.metafields.ssw[customer_locale].value.enter_your_password }}" aria-label="{{ shop.metafields.ssw[customer_locale].value.enter_your_password }}"></div>
              <div class="ssw-control-group"><input id="hesy-login-submit" tabindex="3" type="submit" class="btn button gw-login-btn gw-fsize-md" value="{{ shop.metafields.ssw[customer_locale].value.log_in }}" aria-labelledby="{{ shop.metafields.ssw[customer_locale].value.log_in }}"></div>
              <div class="ssw-control-group">
                <a href="/account/login#recover" class="gw-link-login">{{ shop.metafields.ssw[customer_locale].value.forgot_password }}
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="ssw-modal-footer">{{ shop.metafields.ssw[customer_locale].value.no_account }}
          <a href="#" class="gw-link-login" onclick="ssw('#login_modal').sswModal('hide'); ssw('#signup_modal').sswModal('show', this);">{{ shop.metafields.ssw[customer_locale].value.sign_up }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="signup_modal" class="gw-container ssw-login ssw-modal ssw-fade" aria-hidden="true" role="modal">
    <div class="ssw-modal-dialog">
      <div class="ssw-modal-content">
        <div class="ssw-modal-body">
          <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
          {% capture ssw_customer_signup %}
            {% render 'ssw-customer-signup' %}
          {% endcapture %}
          {% unless ssw_customer_signup contains 'Liquid error' %}
            {{ ssw_customer_signup }}
          {% endunless %}
          <div class="login-failed"></div>
          <div class="ssw-socialconnect">{% render 'ssw-social-buttons' %}
          </div>
          <div class="ssw-signup-loading">
            <span class="ssw-spin ssw-loader"></span>
          </div>
          <form id="he_create_customer" action="/account" method="post" accept-charset="UTF-8">
            <div class="ssw-control-group"><input id="ssw-email" tabindex="4" name="customer[email]" type="email" placeholder="{{ shop.metafields.ssw[customer_locale].value.email_address }}" class="required email ssw-span3" title="{{ shop.metafields.ssw[customer_locale].value.enter_your_email }}" aria-label="{{ shop.metafields.ssw[customer_locale].value.enter_your_email }}"></div>
            <div class="ssw-control-group"><input id="ssw-password" tabindex="5" name="customer[password]" type="password" placeholder="{{ shop.metafields.ssw[customer_locale].value.password }}" class="required ssw-span3" minlength="6" title="{{ shop.metafields.ssw[customer_locale].value.enter_your_password }}" aria-label="{{ shop.metafields.ssw[customer_locale].value.enter_your_password }}"></div>
            <div class="ssw-control-group ssw-first-name" style="display:none;"><input id="ssw-first_name" tabindex="6" name="customer[first_name]" type="text" placeholder="{{ shop.metafields.ssw[customer_locale].value.first_name }}" class="required ssw-span3" minlength="2" title="{{ shop.metafields.ssw[customer_locale].value.enter_your_first_name }}" aria-label="{{ shop.metafields.ssw[customer_locale].value.enter_your_first_name }}"></div>
            <div class="ssw-control-group ssw-last-name" style="display:none;"><input id="ssw-last_name" tabindex="7" name="customer[last_name]" type="text" placeholder="{{ shop.metafields.ssw[customer_locale].value.last_name }}" class="required ssw-span3" minlength="2" title="{{ shop.metafields.ssw[customer_locale].value.enter_your_last_name }}" aria-label="{{ shop.metafields.ssw[customer_locale].value.enter_your_last_name }}"></div>
            {% if gwSettings.add_our_form_tag %}
              <input id="ssw-customer-tags" type="hidden" name="customer[tags]" value="{{ gwSettings.our_form_tag }}"/>
            {% endif %}
            <div id="ssw-signup-accept-terms-marketing" class="ssw-control-group ssw-accept-terms">
              <label id="ssw-signup-accept-terms" class="ssw-checkbox ssw-inline" style="display:none;"><input name="terms" tabindex="8" type="checkbox" onclick="sswOnAcceptTerms(this)"/>
                {{ shop.metafields.ssw[customer_locale].value.accept_terms_html }}
              </label>
              {% if gwSettings.force_accepts_marketing == 1 %}
                <input id="ssw-customer-accepts_marketing" type="hidden" name="customer[accepts_marketing]" value="true">
              {% else %}
                <input id="ssw-customer-accepts_marketing" type="hidden" name="customer[accepts_marketing]" value="false"/><label id="ssw-signup-accept-marketing" class="ssw-checkbox ssw-inline"><input name="accepts_marketing" tabindex="9" type="checkbox" onclick="sswOnAcceptMarketing(this)"/>
                  {{ shop.metafields.ssw[customer_locale].value.accept_marketing }}
                </label>
              {% endif %}
            </div>
            <div class="ssw-action-bottom">
              <button id="hesy-sign-up-cancel" type="button" class="btn button gw-login-btn gw-fsize-md" data-dismiss="ssw-modal" aria-hidden="true" style="display:none">{{ shop.metafields.ssw[customer_locale].value.cancel }}
              </button><input id="hesy-sign-up-submit" tabindex="8" type="submit" class="btn button gw-login-btn gw-fsize-md" value="{{ shop.metafields.ssw[customer_locale].value.sign_up }}" aria-labelledby="{{ shop.metafields.ssw[customer_locale].value.sign_up }}"></div>
          </form>
        </div>
        <div class="ssw-modal-footer">{{ shop.metafields.ssw[customer_locale].value.already_have_an_account }}
          <a href="#" class="gw-link-login" onclick="ssw('#signup_modal').sswModal('hide'); ssw('#login_modal').sswModal('show', this);">{{ shop.metafields.ssw[customer_locale].value.log_in }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endunless %}
<script type="text/javascript">
  sswRun(function() {
    let loader = Ssw.gwAssetsManifestLoader;
    loader.requireByKey("login.critical.css", "STYLE");
    loader.requireByKey("lib.modal.css", "STYLE");
    loader.requireByKey("lib.dropdown.css", "STYLE");
    loader.requireByKey("lib.dropdown.js", "SCRIPT");
    Promise.all([
      loader.requireByKey("lib.modal.js", "SCRIPT"),
      loader.requireByKey("login.critical.js", "SCRIPT")
    ]).then(function() {
      gwLoginCritical({
        ourFacebookApp: parseInt('{{ gwSettings.our_facebook_app }}'),
        ourGoogleApp: parseInt('{{ gwSettings.our_gplus_app }}')
      })
    });
    let clickCb = function() {
      loader.requireByKey("login.main.css", "STYLE");
      loader.requireByKey("login.critical.js", "SCRIPT");
      loader.requireByKey("login.main.js", "SCRIPT");
      ssw(document.body).off('mouseenter', ".ssw-dropdown", clickCb)
    };
    ssw(document.body).on('mouseenter', ".ssw-dropdown", clickCb)
  });
</script>
{% capture the_snippet_content %}
  {% render 'ssw-cart-modal' %}
{% endcapture %}
{% unless the_snippet_content contains 'Liquid error' %}
  {{ the_snippet_content }}
{% endunless %}
{% capture the_snippet_content %}
  {% render 'ssw-product-modal' %}
{% endcapture %}
{% unless the_snippet_content contains 'Liquid error' %}
  {{ the_snippet_content }}
{% endunless %}
{% unless customer %}
  {% capture the_snippet_content %}
    {% render 'ssw-suggest-login' %}
  {% endcapture %}
  {% unless the_snippet_content contains 'Liquid error' %}
    {{ the_snippet_content }}
  {% endunless %}
{% endunless %}}

<style>
#widget-fave-html {
  margin-top: 0.9375rem;
  width: 100%;
}

#widget-fave-html .ssw-fave-btn {
  width: 100%;
  line-height: 42px;
}

#widget-fave-html .ssw-fave-btn-content,
.ssw-product-btns .ssw-fave-btn-content{
  width: 100%;
  font-size: var(--font-size-button-large);
  letter-spacing: 0.07em;
  font-weight: 700;
  font-family: Muli,sans-serif;
  text-transform: uppercase;
  border-radius: 0;
}

#widget-fave-html .ssw-fave-btn-counter,
#widget-fave-html .ssw-fave-btn-counter:before {
  border-radius: 0;
}

.ssw-product-btns .ssw-fave-btn-content i {
  color: #fff;
}

.ssw-product-btns .ssw-fave-btn-content,
.ssw-product-btns .ssw-fave-btn-counter:before,
.ssw-product-btns .ssw-fave-btn-counter {
  background:#928ebd;
  color: #fff;
}


.site-header-main-actions #ssw-topauth > div > .ssw-dropdown-toggle {
  display: block;
}

#hesy-login-submit,
#hesy-sign-up-submit {
  padding: 8px 14px;
  background-color: #928ebd;
  color: #fff;
}

#login_modal a, #signup_modal a {
  text-decoration: none;
  color: #000;
}

/* Login modal customization start */

#login_modal .ssw-modal-content,
#signup_modal .ssw-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 580px;
  background: #FAE0DA;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

#login_modal input#hesy-login-submit,
#signup_modal input#hesy-sign-up-submit{
  width: 100%;
  font-size: 20px;
  padding: 5px;
}

#login_modal + .ssw-modal-backdrop.ssw-fade.ssw-in,
#signup_modal + .ssw-modal-backdrop.ssw-fade.ssw-in{
  background: #fff;
}

#login_modal .ssw-modal-body,
#signup_modal .ssw-modal-body{
  overflow: unset;
}

#login_modal  .ssw-modal-footer {
  font-size: 17px;
  font-weight: 600;
}

#login_modal  .ssw-modal-footer,
#signup_modal .ssw-modal-footer{
  text-align: center;
  border: none;
}

#login_modal .ssw-modal-content *,
#signup_modal .ssw-modal-content *{
  color: #3E3D54;
}

#login_modal .ssw-close,
#signup_modal .ssw-close{
  position: absolute;
  bottom: -80px;
  left: calc(50% - 40px);
  display: flex;
  opacity: 1;
  font-weight: 800;

}

#login_modal .ssw-gconnect > a ,
#signup_modal .ssw-gconnect  > a{
  background: #fff;
}



#login_modal .ssw-close:after,
#signup_modal .ssw-close:after{
  content: 'cerrar';
  margin-left: 5px;
  font-size: 20px;
  font-weight: 800;
}

#signup_modal .ssw-close {
  bottom: -130px;
}

#login_modal .ssw-modal-body .ssw-h3 {
  font-weight: 800;
}

#signup_modal .ssw-modal-body .ssw-h3 {
  max-width: 75%;
  margin: 15px auto 0 auto;
  font-size: 23px;
  font-weight: 800;
}

#signup_modal .ssw-socialconnect {
  margin: 10px 0;
}

#signup_modal .login-failed {
  margin: 0;
}

#signup_modal .ssw-modal-footer {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  font-size: 0;
}

#signup_modal .ssw-modal-footer .ssw-gdpr-subscribe-notify.ssw-muted {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

#signup_modal .ssw-modal-footer a {
  font-weight: 700;
  font-size: 18px;
}

#signup_modal .ssw-modal-footer a:before {
  content: "Ya tienes una cuenta? ";
}

@media all and (max-width: 767px) {
  #login_modal .ssw-modal-content,
  #signup_modal .ssw-modal-content{
    height: calc(100vw - 20px);
  }
}

@media all and (max-width: 600px) {

  #signup_modal .ssw-login form input {
    padding: 7px;
    line-height: 15px;
  }
  
    #signup_modal .ssw-socialconnect {
      margin: 0;
    }

  #signup_modal .ssw-socialconnect > div > a {
    line-height: 38px;
  }

  #signup_modal .ssw-close {
    bottom: -110px;
  }
  
  #signup_modal .ssw-close,
  #signup_modal .ssw-close:after{
    font-size:15px;
  }

  #login_modal .ssw-control-group,
  #signup_modal .ssw-control-group {
    margin-bottom: 5px;
  }

  #signup_modal .ssw-modal-body .ssw-h3 {
    max-width: 65%;
    margin-top: 20px;
    font-size: 16px;
  }

  #signup_modal  .ssw-modal-footer {
    padding-top: 0;
  }
  
   #signup_modal  .ssw-modal-footer,
   #signup_modal  .ssw-modal-body {
     zoom: 0.9;
     -moz-transform: scale(0.9);
   }

  #signup_modal .ssw-modal-footer .ssw-gdpr-subscribe-notify.ssw-muted {
    font-size: 12px;
    margin-top: 5px;
    padding: 0 25px;
  }
    #signup_modal .ssw-modal-footer{
    font-size: 13px;
  }
  
   #signup_modal input#hesy-sign-up-submit {
      font-size: 17px;
  }
  
   #signup_modal .ssw-socialconnect > div > a {
     line-height: 38px;
     margin: 5px 0;
  }

  #signup_modal form input {
    padding: 5px 10px;
    line-height: 15px !important;
  }
  
  #signup_modal input#hesy-sign-up-submit,
  #signup_modal .ssw-modal-footer a,
  #signup_modal .ssw-modal-footer a:before {
    font-size: 15px;
  }
}

@media all (max-width: 450px) {
  #signup_modal .ssw-modal-body .ssw-h3 {
    max-width: 51%;
    margin-top: 52px;
    font-size: 15px;
    padding: 0 10px;
  }

  #login_modal .ssw-socialconnect > div > a  {
    line-height: 38px;
    margin: 5px 0;
  }
  
  #login_modal .ssw-socialconnect {
    margin: 0;
  }

  #signup_modal .ssw-modal-body .ssw-h3 {
    max-width: 60%;
    margin-top: 20px;
    font-size: 17px;
  }

  #signup_modal  .ssw-modal-footer {
    padding: 0 10px;
  }

  #signup_modal .ssw-modal-footer .ssw-gdpr-subscribe-notify.ssw-muted {
    font-size: 12px;
    margin-top: 5px;
  }



}

@media all and (max-width: 430px) {
  #login_modal  .ssw-modal-footer ,
  #login_modal .ssw-modal-body,
  #signup_modal  .ssw-modal-footer ,
  #signup_modal .ssw-modal-body{
    padding-bottom: 10px;
    padding-top: 0;
  }
  
  #login_modal .ssw-socialconnect {
    margin: 5px 0;
  }

  #login_modal .ssw-close,
  #signup_modal .ssw-close{
    left: calc(50% - 30px);
    bottom: -50px;
  }
  
   #signup_modal .ssw-socialconnect > div {
     margin: 0 4px;
   }

  #login_modal .ssw-close:after,
  #signup_modal .ssw-close:after,
  #signup_modal .ssw-modal-footer a:before {
    font-size: 14px;
  }

  #signup_modal .ssw-modal-body{
    max-width: 400px;
    margin: 0 auto;
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }

  #login_modal .login-failed,
  #signup_modal  .login-failed{
    margin: 0 !important;
  }

  #login_modal input#hesy-login-submit,
  #signup_modal input#hesy-sign-up-submit{
    font-size: 13px;
    padding: 5px;
  }

  #login_modal.ssw-login form {
    width: 70%;
  }

  #login_modal form input,
  #signup_modal form input {
    padding: 5px 10px;
    line-height: 15px !important;
  }
  
  #signup_modal .ssw-modal-body .ssw-h3{
    font-size: 13px;
    max-width: 60%;
    margin-top: 40px;
  }
  
  #login_modal .ssw-modal-body .ssw-h3{
    font-size: 17px;
    width: 50%;
    margin: 0 auto;
  }

  #login_modal  .ssw-modal-footer{
    font-size: 12px;
  }
    
  #signup_modal .ssw-close {
    bottom: -100px;
  }
  
  #signup_modal .ssw-modal-footer{
    font-size: 0;
  }


}

@media all and (max-width: 350px) {
  #signup_modal .ssw-modal-body .ssw-h3 {
    max-width: 50%;
  }
  
  #signup_modal .ssw-modal-footer .ssw-gdpr-subscribe-notify.ssw-muted {
    font-size: 9px;
  }
  
  #signup_modal .ssw-modal-body{
    zoom: 0.73;
  }

}


/* Login modal customization end */

li#ssw-topauth {
  opacity: 1;
}

.mobile-nav-panel .ssw-dropdown-menu {
  left: 10px;
  right: unset;
}


.ssw-edit-profile-page h2 {
  line-height: 18px;
  margin-top: 0;
}

.ssw-nav > li > a {
  padding-bottom: 5px;
}

#ssw-page {
  padding: 0 20px;
}

#ssw-page .ssw-nav > li.ssw-active > a,
#ssw-page .ssw-nav > li.ssw-active > a:hover  {
  background: none !important;
  color: #3e3d54 !important;
  border-color: #3e3d54 !important;
  text-decoration:none;
}

#ssw-page  a {
  color: #403e55 ;
  text-decoration:none !important;
}

.ssw-page #privacy_div{
  display: none !important;
  opacity: 0 !important;
}

.ssw-fbconnect.ssw-social-btn a i {
  width: 30% !important;
}

.ssw-fbconnect.ssw-social-btn a i:before {
  margin: 0 auto
}

.ssw-fbconnect.ssw-social-btn a span {
  padding-left: 10px !important;
}

.ssw-page input,
.ssw-page textarea,
#ssw-widget-recommends-html input[type="email"],
.ssw-modal input[type="text"],
.ssw-modal input[type="email"],
.ssw-modal input[type="submit"],
.ssw-modal input[type="number"],
.ssw-modal input[type="password"] {
  padding: 8px 16px;
  border: 1px solid silver;
  outline: none;
}


.ssw-fave-item__button-move.btn-move.btn {
  margin-left: 0;
}

#ssw-widget-recommends-html .ssw-socialconnect + .ssw-or {
  float:left;
  margin-top: 10px;
}

.ssw-review-socialconnect.ssw-socialconnect-3.ssw-group1 {
  margin-bottom: 10px !important;
}

@media all and (max-width: 1024px) {
  .site-header-main-actions #ssw-topauth {
    display: none;
  }
}

form .form-action-row {
  display: flex;
  text-align: right;
  flex-direction: column;
}

form .form-action--submit {
  max-width: 185px;
  margin-left: auto;
  margin-right: 0;
}

.ssw-faveiticon {
  left: 5px;
  top: 5px;
}

.product-recently-viewed-wrapper .ssw-faveiticon {
  right: 18px;
  top: 0;
}

.shopify-payment-button {
  height: 42px !important;
}


#ssw-wishlist-save button[type="submit"],
.ssw-page input[type="submit"],
#ssw-widget-recommends-html input[type="submit"],
#ssw-product-modal .ssw-product-reviews input[type='submit']{
  padding: 8px 14px;
  background-color: #928ebd;
  color: #fff;
  border: none;
}

#ssw-wishlist-save button[type="submit"]:hover,
.ssw-page input[type="submit"]:hover,
#ssw-widget-recommends-html input[type="submit"]:hover,
#ssw-product-modal .ssw-product-reviews input[type='submit']:hover{
  background-color: #3e3d54;

}



.ssw-page input[type="submit"] {
  padding: 15px 13px;
}

.ssw-cmar .ssw-price {
  float: none !important;
}

.ssw-cmar .ssw-available-content.ssw-pull-left {
  display: block !important;
  float: none !important;
  margin-top: 10px;
}

.ssw-cmar .ssw-product-btns {
  margin: 10px 0;
}

#ssw-product-modal .ssw-modal-body {
  background-color: #fae0da;
}

#ssw-product-modal #ssw-addToCartBtn {
  color: #ffffff;
  background-color: #a9e1cd;
  border: 1px solid #a9e1cd;
}

#ssw-product-modal .ssw-nav > li.ssw-active > a,
#ssw-product-modal .ssw-nav > li.ssw-active > a:hover  {
  background: none !important;
  color: #3e3d54 !important;
  border-color: #3e3d54 !important;
  text-decoration:none;
}

#ssw-product-modal .ssw-nav > li > a {
  color: #3e3d54 !important;
  text-decoration:none;
}

#ssw-product-modal  .ssw-product-title {
  font-family: Muli,sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.0em;
  color: #3e3d54;
  font-size: var(--font-size-heading-1);
  text-decoration: none;
} 

#ssw-product-modal .ssw-money{
  font-size: calc(0.9375rem * 1.25);
}

#ssw-product-modal select {
  width: 100%;
  padding: 14px;
  color: #212121;
  cursor: pointer;
  background-color: #ffffff;
}

#ssw-product-modal .ssw-product-reviews a {
  color: #3e3d54;
}

#ssw-page .ssw-fave-vendor-title {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

#ssw-product-modal .ssw-product-description a {
  color: #000;
}

.ssw-page .ssw-fave-product-actions {
  display: flex;
  justify-content: center;
}

div#ssw-wishlist-save .ssw-collections > .ssw-span{
  width: 50%;
}

#ssw-wishlist-save .ssw-product-info .pname{
  font-family: Muli,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-product-card);
  letter-spacing: normal;
  color: #3e3d54;
  text-decoration: none;
}

#ssw-wishlist-save .ssw-product-info .ssw-listing-product-price {
  font-size: var(--font-size-body);
  line-height: 1.4375rem;
  color: #928ebd;
  margin-top: 0.234375rem;
}

#ssw-wishlist-save .ssw-product-info {
  text-align: left;
}

.ssw-custom-user-info .ssw-img-circle {
  background-color: #f3f365;
}

#ssw-instagram-modal .ssw-instagram-detail-product-add-to-cart  {
  margin-top: 10px;
  float: left!important;
  background-color: #928ebd!important;
  order: 1;
}

#ssw-instagram-modal .ssw-instagram-detail-product {
  display: flex;
  flex-wrap: wrap;
}

.ssw-instagram-load-more a {
  padding: 8px 14px;
  background-color: #928ebd;
  color: #fff;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.ssw-custom-user-info {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.ssw-vendor {
  display: flex;
  margin-bottom: 0.1em;
  font-weight: 700;
  color: grey;
  font-size: 14px;
}


</style>